html,body{
    width:100%;
    height: auto;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background: #03ACDA url(../img/circle.png) repeat; 
    background-size:100%;
    background-position: center;
    overflow-x: hidden !important;
}
.shrink-nav {
    color: #000 !important;
    top: 0px;
    position: fixed;
    margin: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
}
header .navbar {
	top: 0px;
	position: absolute;
    margin-bottom: 0;
    z-index: 9999;
    width: 100%;
    background-color: #03ACDA;
    border-bottom: 1px solid #0087AC;
	border-top:none;
	border-left:none;
	border-right:none;
    border-top: none;
    zoom: 80%;
    top: 0;
    opacity: 1;
    border-radius: 0;
    font-size: 16px;
}
header  .shrink-nav {
    top: 0px;
    position: fixed;
    margin: 0 !important;
    padding-top: 10px;
    padding-bottom: 0;
    z-index: 999;
}
.new-page header .navbar-collapse {
    padding: 0;
}
.navbar-header {
    float: inherit;
}
.navbar-default .navbar-nav > li > a{
	color:#fff
}
.navbar-left {
	float: left;
}

.navbar-left li,
.navbar-right .right-li {
	float: left;
}

.navbar-right {
	float: right;
    margin-right: 0;
}

.navbar-left li a,
.navbar-right .right-li a {
	padding: 5px 20px 5px 0;
	color: #fff !important;
    cursor: pointer;
	line-height:42px;
    
}
.dropdown{
	display: inline-block;
	position: relative;
}
.navbar-default .navbar-nav .dropdown .dropdown-toggle{
	color: #fff;
}
header .navbar-default, header .dropdown-menu, .shrink-nav, #menu-home .sub-menu, .navbar-collapse{
    background-color: #03ACDA !important;
	    opacity: 1;
}
header .navbar-right .dropdown .dropdown-menu dl dd,
header .navbar-right .dropdown .dropdown-menu dl dt{
	color:#fff;
	line-height: 1.42857143;
}
dt{
	font-weight: bold;
}
.cart_item .col-sm-12{
	float: left;
	width: 100%;
	position: relative;
	min-height: 1px;
	padding-left: 14px;
}
.prod-class .col-sm-7{
	float: left;
	width: 58%;
}
.prod-class .col-sm-5{
	float: left;
	width: 41%;
}
.fa-shopping-cart{
    display: inline-block;
    margin-right: 7px;
    background: url(../img/shopping_cart_icon.png);
    width: 16px;
    height: 12px;
}
.icon {
	padding: 0 20px 0 0;
	color: #437FB1;
}

.menu-item-has-children {
	position: relative;
	display: block;
}
.menu-item-has-children img{
	
}
.menu-item-has-children:hover .sub-menu {
	display: block;
}

.sub-menu {
	background: #0087AC;
	list-style: none;
	display: none;
	z-index: 1;
	padding: 10px;
    position: absolute;
    width: 150px;
}

.sub-menu li {
	padding: 10px 0;
}

.navbar-right .sub-menu li a {
	color: #fff;
	padding: 0;
    line-height: 24px;
}
.container{
 /*   min-height: 684px;
	width:1200px;
}
.row{/*
    padding: 40px 0;
    width: 1200px;
    margin: 0 auto;*/
}
.row-two{
	background: url(../img/guidao.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.row-div{
	width: 1200px;
    margin: 0 auto;
    position: relative;
}
.studyenglish{
    border: 0;
    vertical-align: middle;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
}
.video-bgdiv{
	width: 1148px;
	height: 668px;
	margin:0 auto;
}
.bg-div,.bg-div-zj{
	background: url(../img/bg_1.png);
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.bg-div{
    padding: 83px 0;
}
.bg-div-zj{
    padding: 85px 0;
}
.book-zj{
    padding: 26px 0;
    font-size: 26px;
    color: #03ACDA;
}
.bg-div video{
    vertical-align: middle;
}
.bg-div-zj-two{
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.bg-div-zj img,.title-img img,.bg-div-zj-two img{
    border: 0;
    vertical-align: middle;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.bg-div img{
	margin-top: 70px;
}
.train {
	position: relative;
	padding-top:285px;
}
.train div{
    position: absolute;
    top: 88px;
}
.train-div{
    border: 10px solid #437FB1;
    width: 115px;
    height: 110px;
    border-bottom-width: 15px;
}
.one{
	left: 330px;
	background: #fff url(../img/icon_Photograph.png);
}
.two{
	left: 545px;
	background: #fff url(../img/icon_upload.png);
}
.thir{
	left: 755px;
	background: #fff url(../img/icon_compromise.png);
}
.one a span,
.two a span,
.thir a span{
	padding-top: 10px;
	display: inline-block;
	line-height: 1;
}
.train-div a{
    cursor: pointer;
	background:url(../img/hongqi.png);
    width: 78px;
    height: 84px;
	line-height: 49px;
    position: absolute;
    bottom: 94px;
    left: 15px;
    color: #03ACDA;
}
/*主角*/
.vide-inner{
    background-position: center top;
    clear: both;
    margin: 0;
    padding: 65px 0 65px;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
}
.row .txt{
	color: #fff;
    padding: 40px 0 0;
    font-size: 20px;
}
.push-bottom{
	background: url(../img/bg_3.png);
	width: 1148px;
	height: 668px;
	padding:90px 45px;
}
.push-bottom .col-left,
.push-bottom .col-center,
.push-bottom .col-right{
    float: left;
    text-align: left;
    height: 450px;
}
.push-top,
.push-bot{
    margin: 0 10px;
}
.push-top{
	margin-bottom: 130px;
}
.push-top b,
.push-bot b{
    font-size: 16px;
    color: #03ACDA;
    font-weight: 100;
    margin-bottom: 10px;
    display: block;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 263px;
}
.push-top p,
.push-bot p{
    font-size: 14px;
    color: #03ACDA;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 260px;
}
.push-bottom .col-left span,
.push-bottom .col-right span{
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 0 35px 65px;
}
.icon-shu{
	background: url(../img/icon_book.png);
}
.icon-shu1{
	background: url(../img/icon_reading.png);
}
.icon-shu2{
	background: url(../img/icon_play.png);
}
.icon-shu3{
	background: url(../img/icon_abc.png);
}
.video-center{
    width: 400px;
    margin-top:140px;
}
.btn-default{
	background: url(../img/btn.png);
	width: 206px;
    height: 50px;
    display: inline-block;
    color: #fff;
    line-height: 48px;
    font-size: 14px;
}
.bg-div-aboutus{
	background: url(../img/bg_4.png);
	width: 1148px;
	height: 668px;
    padding: 30px 75px;
}
.bg-div-aboutus h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #03ACDA;
    margin: 25px 0;
}
.bg-div-aboutus .one-h3{
    margin-top: 40px;
}
.bg-div-aboutus p {
    padding-bottom: 7px;
    color: #333333;
    text-align: left;
}
.foot-inner{
    background-color: #03ACDA;
}
.footer-div{
	background: url(../img/bg_botton.png);
    height: 204px;
    background-size: cover;
    background-position: center;
}
.fo-row{
	position: relative;
}
.footer-div .fo-nav{
    position: absolute;
    top: 55px;
}
.footer-div .fonav-one{
	left: 200px;	
}
.footer-div .fonav-two{
	left: 500px;
}
.footer-div .fo-nav li{
    padding: 10px 0;
}
.footer-div .fo-nav li a{
	color: #fff;
}
.fo-bottom{
	font-size: 14px;
	color: #fff;
	padding: 10px 0;
}
.leftbg-one{
	background: url(../img/camera.png);
    width: 250px;
    height: 520px;
    position: absolute;
    right: -235px;
    top: 50px;
}
.leftbg-two{
	background: url(../img/balloon.png);
    width: 250px;
    height:280px;
    position: absolute;
    right: -235px;
    bottom: 40px;
}
.leftbg-thir{
	background: url(../img/tv.png);
    width: 270px;
    height:230px;
    position: absolute;
    left: -270px;
    bottom: 40px;
}
.back-top{
	background: url(../img/back_btn.png);
	width: 48px;
    height:48px;
    position: absolute;
    right: 0;
    top: -45px;
}
.new-page header .navbar-default .navbar-nav > .open > a, .new-page .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background: #03ACDA ;
    color: #fff;
}
.navbar-toggle{
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: #03ACDA;
    background-image: none;
	border:none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #03ACDA;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}
.video-banner{
	padding: 0 15px;
}
.swiper-button-prev{
    left: 60px;
}
.swiper-button-next{
	right:50px;
}
@media (max-width: 980px) {
.nav-header-right{
    float: right;	
	display:block !important;
}
.nav-header-right a{
    display: inline-block;
}
.nav-header-right a>img{
    display: block;
    max-width: 70%;
    height: auto;
}
.bg-div{
    padding: 75px 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}
.bg-div-zj{
	padding: 75px 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}
.bg-div-zj img{
    max-width: 80%;
}
.bg-div-zj .book-zj{
    font-size: 22px;
}
.bg-div-aboutus{
	background:#03ACDA url(../img/bg_aboutus.png);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}
.text-center{
    zoom: 80%;
    width: 95%;
    padding: 0 5px;
    margin: 0 auto;
    display: block;
}
.bg-div-aboutus p{
	color: #333333;
    word-break: break-word;
    word-wrap: break-word;
}
.train{
    padding-top: 205px;
}
.train .train-div{
    border: none;
    top: 62px;
    background-repeat: no-repeat;
    background-size: 75% 75%;
}
.train-div a{
    background: transparent;
    color: #fff;
    bottom: 67px;
    left: 0px;
}
.one{
    left: 190px;
    background: url(../img/icon_photograph3.png);
}
.two {
    left: 340PX;
    background: url(../img/icon_upload2.png);
}
.thir {
    left: 490PX;
    background:url(../img/icon_compromise1.png);
}
.push-bottom{
	background: #03ACDA;
    width: 100%;
    padding: 0px 20px;
    height: 662px;
    margin-top: 30px;
}
.push-bottom .col-left, .push-bottom .col-center, .push-bottom .col-right{
    float: none;
    text-align: left;
    height: auto;
}
.push-top, .push-bot{
    margin-bottom: 19px;
    border-bottom: 1px solid #74D3ED;
    padding-bottom: 20px;
    margin: 19px 0;
}
.push-bottom .col-left span, .push-bottom .col-right span{
    display: block;
    width: 58px;
    height: 58px;
    margin: 0;
    float: left;
    margin-right: 15px;
}
.icon-shu{
	background:url(../img/icon_book4.png)
}
.icon-shu1 {
    background: url(../img/icon_reading2.png);
}
.icon-shu2 {
    background: url(../img/icon_play1.png);
}
.icon-shu3 {
    background: url(../img/icon_abc3.png);
}
.push-top b, .push-bot b{
	color:#fff;
	width:100%;
}
.push-top p, .push-bot p{
	color:#fff;
	width:100%;
}
.col-center{
}
.video-center{
    margin: 0 auto;
    width: 90%;
}
.btn-default{
    background: url(../img/btn_look.png);
}
.footer-div{
	background:#03ACDA;
}
.back-top{
    display: none;
}
.row-div{
	    width: 100%;
}
.leftbg-one,.leftbg-thir{
	display:none;
}
.fo-row{
    background: #74D3ED;
    margin: 0 15px;
    border-radius: 4px;
}
.footer-div .fonav-one,.footer-div .fonav-two{
    position: relative;
    top: 0;
    left: 0;
}
.footer-div .fonav-one li,.footer-div .fonav-two li{
    border-bottom: 1px solid #06ADDB;
    text-align: left;
    padding-left: 20px;
}
.fo-bottom {
	margin: 0 15px;
	color:#008AAF;
}
.shop-ul{
	display:none;
}
.swiper-button-prev{
    left: 40px;
}
.swiper-button-next{
	right:40px;
}
}

@media (max-width: 768px){
.navbar-nav > li {
    float: none !important;
    text-align: left;
}
.navbar-nav {
    margin: 0;
}
.navbar-left{
	float: none;
}
.new-page .navbar-default .navbar-nav > li > a {
    padding: 6px 0 6px 31px;
    line-height: 30px;
}

.navbar-right .dropdown-menu {
    width: 100%;
    padding-left: 10px;
}
 .sub-menu {
    position: relative;
    padding: 0;
    padding-left: 40px;
    width: 100%;
}
.bg-div-aboutus{
    padding: 30px 45px;
}

}
@media (max-width: 667px){
.new-page .navbar-default .navbar-nav > li > a {
    padding: 6px 0 6px 31px;
}
.bg-div{
    padding: 40px 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}
.bg-div-zj .book-zj{
    font-size:18px;
}
.bg-div-zj{
	padding: 40px 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
}
.bg-div-aboutus{
    padding: 24px 20px 70px;
}
.train{
    padding-top: 115px;
}
.train .train-div{
    top: 33px;
    background-size: 45% 45%;
}
.train-div a{
    bottom: 67px;
    left: -14px;
}
.one{
    left: 98px;
}
.two {
    left: 180PX;
}
.thir {
    left: 260PX;
}
.swiper-button-prev{
    left: 11px;
}
.swiper-button-next{
	right:11px;
}
.swiper-button-next, .swiper-button-prev{
    background-size: 50% 50%;
}
}

@media (max-width: 410px){
.train .train-div{
    top: 35px;
}
.one{
    left:85px;
}
.two {
    left: 160px;
}
.thir {
    left: 240px;
}
}
@media (max-width: 360px){
.one{
    left:77px;
}
.two {
    left: 155px;
}
.thir {
    left: 230px;
}
}
@media (max-width: 320px){
.train .train-div{
    top: 37px;
}
.one{
    left:63px;
}
.two {
    left: 135px;
}
.thir {
    left: 207px;
}
}
/*custom style*/
.new-page .dropdown .pro {
	padding: 3px 11px;
	width: 205px;
	color: #fff;
}
.dropdown-menu li a{
	color: #fff;
}
.dropdown-menu .prod-class{
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
  	padding-top: 10px;
	margin-bottom: 15px;
	min-height: 185px;
}
.dropdown-menu li .product-name .variation{
	margin-bottom: 0;
	font-size: 14px;
}
.dropdown-menu li span{
	float: left;
	width: 100%;
	font-size: 17px;
	line-height: 20px;
	text-align: left;
	padding-left: 15px;
}
.dropdown-menu li .product-thumbnail img{
	width: auto;
}
.dropdown-menu .btn-cart, .dropdown-menu .btn-checkout{
	background: #93c69b;
	float: left;
	border-radius: 25px;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
	width: 220px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	margin-left: 20px;
}
.dropdown-menu .btn-checkout{
	background: #4770a0;
}
.dropdown-menu .subtotal{
	color: #03ACDA;
	margin-bottom: 10px;
  	font-size: 25px;
	font-weight: 100;
}
.dropdown-menu .subtotal strong{
	font-weight: 100;
}
.text-center{
	text-align: center;
}
.dropdown-menu li{
	width: 250px;
}
.navbar-nav > li {
	float: right;
}
#menu-home .sub-menu{
	background:#27313d;
	list-style: none;
	display: none;
	position: absolute;
	z-index: 1;
	width: 150px;
	padding:10px;
}
#menu-home .sub-menu li{
	padding:10px 0;
}
#menu-home .sub-menu li a{
	color: #fff;
}
#menu-home .menu-item-has-children:hover .sub-menu {
	display: block;
}
.home-section .menu-item-891{
	display:none;
}
/*custom style*/

		
/*-fix-*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}

.dropdown li.cart_item .row{
	padding:0;
	width:auto;
	margin:0 -15px;
}